In [1]:
# 이거 먼저 설치하고 런타임 재시작 할 것
# 이거 설치 안하면 plt 한국어가 깨져서 보임
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 7 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (9,004 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124015 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

# load the dataset

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

from matplotlib import pyplot
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

mpl.rcParams['axes.unicode_minus'] = False
mpl.rc("font", family = "Malgun Gothic")

from sklearn.metrics import silhouette_score

In [3]:
# 경고 없애는 코드
import warnings
warnings.filterwarnings(action='ignore')

plt.rc('font', family='NanumBarunGothic')

In [4]:
df = pd.read_excel('/content/preprocessing_data.xlsx')
df

,서울시 동,가구원수,서울시 구,구별 가구수,반려동물 비율,반려동물 가구수 구,반려동물 가구수 동,면적,반려동물 가구밀도,폐사안락사수,보호소 수,보호소 밀도,폐사안락사 비율,동물병원약국개수,동물병원약국 밀도
0,가락1동,9534,송파구,255766,0.216,55245.456,2059.344,1.34,1536.823881,15,1,0.746269,11.194030,11,8.208955
1,가락2동,11482,송파구,255766,0.216,55245.456,2480.112,0.96,2583.450000,13,1,1.041667,13.541667,11,11.458333
2,가락본동,10576,송파구,255766,0.216,55245.456,2284.416,1.13,2021.607080,19,1,0.884956,16.814159,10,8.849558
3,가리봉동,4901,구로구,164083,0.195,31996.185,955.695,0.40,2389.237500,0,0,0.000000,0.000000,2,5.000000
4,가산동,14124,금천구,103432,0.179,18514.328,2528.196,2.52,1003.252381,0,0,0.000000,0.000000,14,5.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,청구동,5764,중구,55093,0.191,10522.763,1100.924,0.34,3238.011765,0,0,0.000000,0.000000,2,4.545455
421,동화동,3771,중구,55093,0.191,10522.763,720.261,0.26,2770.234615,0,0,0.000000,0.000000,2,2.325581
422,항동,5988,구로구,164083,0.195,31996.185,1167.660,1.40,834.042857,0,0,0.000000,0.000000,2,3.174603
423,위례동,9041,송파구,255766,0.216,55245.456,1952.856,2.55,765.825882,0,0,0.000000,0.000000,2,1.904762
424,신사동,6407,강남구,208833,0.214,44690.262,1371.098,1.89,725.448677,0,0,0.000000,0.000000,9,5.357143

In [5]:
# 독립변수 추출
col = ['서울시 동', '가구원수', '서울시 구', '구별 가구수', '반려동물 비율', '반려동물 가구수 구',
       '반려동물 가구수 동', '면적', '폐사안락사수', '보호소 수', '동물병원약국개수']
x = df.drop(col,axis=1)
x

       반려동물 가구밀도    보호소 밀도   폐사안락사 비율  동물병원약국 밀도
0    1536.823881  0.746269  11.194030   8.208955
1    2583.450000  1.041667  13.541667  11.458333
2    2021.607080  0.884956  16.814159   8.849558
3    2389.237500  0.000000   0.000000   5.000000
4    1003.252381  0.000000   0.000000   5.555556
..           ...       ...        ...        ...
420  3238.011765  0.000000   0.000000   4.545455
421  2770.234615  0.000000   0.000000   2.325581
422   834.042857  0.000000   0.000000   3.174603
423   765.825882  0.000000   0.000000   1.904762
424   725.448677  0.000000   0.000000   5.357143

[425 rows x 4 columns]

# Scaler

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_x = scaler.fit_transform(x) # 설명변수

In [7]:
df_scaled_x = pd.DataFrame(scaled_x,columns = x.columns)
df_scaled_x

     반려동물 가구밀도    보호소 밀도  폐사안락사 비율  동물병원약국 밀도
0    -0.378614  0.160694  0.129900   0.243147
1     0.711349  0.543612  0.292286   0.926818
2     0.126243  0.340471  0.518644   0.377930
3     0.509095 -0.806678 -0.644390  -0.432020
4    -0.934279 -0.806678 -0.644390  -0.315130
..         ...       ...       ...        ...
420   1.393014 -0.806678 -0.644390  -0.527656
421   0.905868 -0.806678 -0.644390  -0.994719
422  -1.110495 -0.806678 -0.644390  -0.816084
423  -1.181536 -0.806678 -0.644390  -1.083260
424  -1.223585 -0.806678 -0.644390  -0.356877

[425 rows x 4 columns]

# Making K means clustering k = 93

In [8]:
from sklearn.cluster import KMeans

np.random.seed(42)

n_clusters=93

kmeans = KMeans(n_clusters).fit(scaled_x)

In [9]:
kmeans.cluster_centers_
# 반려동물 가구밀도     #보호소 밀도    #폐사안락사 비율(폐사안락사 수/면적)    #동물병원약국 밀도

array([[-1.45011872e-01, -5.97601224e-01, -5.21669521e-01,
         2.51063689e+00],
       [-4.38225728e-01,  2.50629500e-01,  4.02869536e-01,
        -3.95244754e-01],
       [ 1.14167367e+00, -8.06678444e-01, -6.44390355e-01,
        -5.45663967e-01],
       [ 1.08442959e+00,  1.42828494e+00,  1.97929645e+00,
         1.16851632e-01],
       [-2.10298825e-01, -8.06678444e-01, -6.44390355e-01,
        -7.50739949e-01],
       [ 1.55691475e+00,  1.07198643e+00,  4.86915437e+00,
         1.34225472e+00],
       [-1.26052636e+00, -7.44057465e-01, -5.92878426e-01,
         2.82793480e-01],
       [ 1.28964689e+00,  1.24350948e+00, -2.12955254e-01,
        -5.35079065e-01],
       [ 5.21302753e-02,  8.59675782e-01,  8.78762330e-01,
         1.33035388e+00],
       [ 6.92082360e-01,  2.70704420e+00,  1.69045299e-02,
         4.45226559e-01],
       [ 1.56651518e+00, -8.06678444e-01, -6.44390355e-01,
         1.38008342e+00],
       [-1.12500185e+00, -2.20356295e-01, -3.24944754e-01,
        -9.17338069e-01],
       [ 5.30084134e-01,  8.60321881e-01,  6.28637825e-01,
        -1.43476958e-01],
       [ 6.10970322e-01,  1.42828494e+00,  7.11605906e-02,
         2.34144386e+00],
       [ 4.91781602e-01, -8.06678444e-01, -6.44390355e-01,
         1.12529635e-01],
       [-1.53205878e-02,  4.65055128e-01,  2.00877138e+00,
        -1.01799778e+00],
       [-5.88553114e-01, -8.06678444e-01, -6.44390355e-01,
         8.26662185e-02],
       [ 1.43690760e+00,  3.51425076e+00, -1.83257523e-01,
        -1.05020730e+00],
       [-2.44065852e-01,  1.25090689e+00,  5.06487327e+00,
        -3.46722146e-01],
       [-1.37924820e+00, -3.98867745e-01, -3.13210801e-01,
         1.95109086e+00],
       [ 2.20677111e-01,  4.82931616e+00,  2.96447528e+00,
        -4.94730204e-02],
       [ 1.95335431e+00,  1.55019203e+00,  2.49969713e+00,
         3.77599399e+00],
       [ 2.12219262e-01,  1.50834678e+00,  2.76822668e-02,
        -7.02676250e-01],
       [-7.39353253e-01,  8.13670006e-01, -4.71465543e-01,
         9.26818040e-01],
       [-5.22337645e-01,  1.55019203e+00,  7.53023711e+00,
         1.70386603e+00],
       [ 1.83791457e+00, -8.06678444e-01, -6.44390355e-01,
        -1.70431491e-01],
       [ 9.79344800e-01,  1.41320069e+00,  1.52867370e+00,
        -6.45479707e-01],
       [ 1.56094068e-01, -8.06678444e-01, -6.44390355e-01,
         8.47771058e-01],
       [-1.84709283e-01,  3.55252097e-01,  2.08753104e+00,
         9.69328242e-01],
       [ 7.39391993e-01,  9.37141845e-01,  7.42630256e-01,
         2.98442806e+00],
       [ 9.22763786e-01,  6.50272471e-01, -1.17157862e-01,
         4.93308502e-01],
       [ 2.15608999e+00,  1.62157484e+00,  6.45279985e-01,
        -1.20875693e+00],
       [-1.60976508e+00,  1.35378616e+00,  6.23724932e-01,
        -5.77123643e-01],
       [-1.55110406e+00,  4.44176318e-01, -2.22513197e-01,
        -6.45474899e-01],
       [ 1.11609896e+00,  8.14833781e-01,  8.87336378e-01,
        -9.41837479e-01],
       [-1.44080421e+00, -6.58584439e-01, -5.67622697e-01,
        -3.55739622e-01],
       [-6.13613552e-01,  6.01034337e-02, -7.08419539e-02,
         5.21880692e-01],
       [ 1.38204240e+00,  1.02645912e+00,  1.14572394e+00,
         1.75872201e+00],
       [ 1.13091082e+00,  1.23060177e+00,  2.80652146e+00,
        -1.09223784e+00],
       [ 1.93214067e-01,  5.99825925e-01,  3.56717853e-02,
         6.69512373e-02],
       [ 3.36020065e-01, -8.06678444e-01, -6.44390355e-01,
        -4.24619512e-01],
       [-1.02650783e+00,  3.05811633e-01,  1.83923338e+00,
         2.03587137e-03],
       [ 2.99232062e+00,  1.59383778e+00,  1.14890399e+00,
         4.61636551e-02],
       [ 3.80095120e-01,  4.51576176e-01,  1.90584042e-01,
        -1.10778765e+00],
       [ 7.23405125e-01, -8.06678444e-01, -6.44390355e-01,
         3.84722730e+00],
       [-1.61014056e+00, -4.82739735e-01, -4.06195124e-01,
         7.51489056e-01],
       [-4.19505229e-01,  2.79409589e+00, -4.52251675e-01,
         2.48580111e+00],
       [-5.40485836e-03,  2.19323639e-01,  7.31834344e-01,
        -9.45329088e-01],
       [ 4.45499246e-01, -8.06678444e-01, -6.44390355e-01,
         1.58575566e+00],
       [-5.77877680e-01,  2.38921130e-02, -3.53015302e-01,
        -1.17962716e-01],
       [ 2.02640133e+00, -8.06678444e-01, -6.44390355e-01,
        -9.78951204e-01],
       [ 1.17831103e+00,  3.11643023e-01,  3.95955274e-01,
        -3.61841029e-01],
       [-1.17121143e+00, -8.06678444e-01, -6.44390355e-01,
         1.12782030e+00],
       [-5.09076540e-01,  3.37486594e+00,  2.47941270e+00,
         3.34254381e-01],
       [-1.07497955e+00,  1.47381197e+00, -1.51234410e-01,
        -1.10830764e+00],
       [-8.51788645e-01, -8.06678444e-01, -6.44390355e-01,
         2.12438829e+00],
       [ 1.61763282e+00,  9.44588629e-01,  8.31390494e-01,
        -1.84232091e-01],
       [-4.03653900e-01,  4.64183085e-01, -5.76576703e-01,
         3.92628020e+00],
       [ 1.23573756e+00,  1.50424708e+00,  4.34536953e-01,
        -2.28656247e-01],
       [ 4.35741122e-01,  4.50416263e+00,  5.06513911e-01,
        -9.60072982e-01],
       [ 8.01088421e-01, -8.06678444e-01, -6.44390355e-01,
        -1.04514886e+00],
       [-4.53797306e-01,  6.41438732e-02, -9.10589153e-02,
        -1.16749212e+00],
       [-4.39251334e-01, -8.06678444e-01, -6.44390355e-01,
        -1.19702334e+00],
       [ 1.83717456e+00,  2.74771124e+00,  2.96290072e-01,
        -3.61878423e-01],
       [ 9.70272219e-02,  1.39427579e-01, -4.19037897e-01,
        -2.52124723e-01],
       [ 5.59221434e-02,  6.73386289e-01,  1.31568239e+00,
        -4.24496684e-02],
       [ 2.71375833e-01,  5.87169685e-01,  1.73565007e+00,
         3.40027848e+00],
       [ 7.99615048e-01,  1.72680200e+00,  8.35034829e-01,
         6.82849218e-01],
       [ 1.15039193e-01,  1.18697704e+00,  1.84646745e+00,
         7.08464446e-01],
       [ 4.41910397e-01,  7.15217462e-01,  2.54402336e+00,
        -5.31209462e-01],
       [-1.38984886e+00, -7.44252742e-01, -6.20933867e-01,
        -1.19820939e+00],
       [ 1.96575635e+00,  8.13670006e-01,  2.58661440e-01,
        -1.19863015e+00],
       [-6.22984388e-01,  5.06796166e-01,  1.07657919e+00,
        -1.13990997e+00],
       [ 2.65568489e+00, -8.06678444e-01, -6.44390355e-01,
         6.55644841e-01],
       [ 8.29473371e-02,  1.89390231e+00,  7.61296944e-02,
         1.08754079e+00],
       [-7.43108233e-01,  3.71756792e-01,  2.35954142e-01,
         1.80796037e+00],
       [ 2.16265607e+00,  1.46749482e+00,  1.66127380e+00,
        -7.50067270e-01],
       [ 1.10214650e+00, -8.06678444e-01, -6.44390355e-01,
         2.19881316e-01],
       [-2.00042049e-02,  1.67799082e-01, -3.02734708e-01,
         1.58288247e+00],
       [-1.71533555e+00,  4.02329086e-01, -2.58027392e-01,
         8.35472930e-02],
       [ 7.54700936e-01,  1.31155794e+00,  3.50455477e-01,
        -4.57118219e-01],
       [-3.00814825e-02,  1.07198643e+00,  3.76644542e+00,
        -1.35300806e-01],
       [-9.10771776e-01, -8.06678444e-01, -6.44390355e-01,
        -6.62128790e-01],
       [ 1.19119516e+00,  3.20785529e-01,  5.71496265e-01,
         5.50647522e-01],
       [ 1.32562672e+00,  1.13288058e+00,  2.13143413e-01,
        -1.21356962e+00],
       [ 6.92661736e-01,  2.02156612e+00,  2.11821452e+00,
        -6.74147495e-01],
       [-1.10532517e+00,  1.35378616e+00,  8.54291348e-01,
         4.28710356e-01],
       [-4.56660196e-01,  5.33607967e-02,  7.81130728e-01,
         1.15686649e+00],
       [-6.08588510e-01,  7.00622440e-01,  2.89453603e+00,
         1.60442728e+00],
       [-1.63965953e-01, -8.06678444e-01, -6.44390355e-01,
        -1.11193982e-01],
       [ 1.69707176e+00,  8.13670006e-01,  2.29533145e+00,
         2.33533468e-01],
       [-5.31859421e-01, -8.06678444e-01, -6.44390355e-01,
         7.03263450e-01],
       [-1.25635683e+00,  7.95863979e-01,  2.55072036e-01,
         1.42151013e+00]])

In [10]:
df_train = df.copy()
df_train["target"] = kmeans.labels_
df_train

,서울시 동,가구원수,서울시 구,구별 가구수,반려동물 비율,반려동물 가구수 구,반려동물 가구수 동,면적,반려동물 가구밀도,폐사안락사수,보호소 수,보호소 밀도,폐사안락사 비율,동물병원약국개수,동물병원약국 밀도,target
0,가락1동,9534,송파구,255766,0.216,55245.456,2059.344,1.34,1536.823881,15,1,0.746269,11.194030,11,8.208955,36
1,가락2동,11482,송파구,255766,0.216,55245.456,2480.112,0.96,2583.450000,13,1,1.041667,13.541667,11,11.458333,30
2,가락본동,10576,송파구,255766,0.216,55245.456,2284.416,1.13,2021.607080,19,1,0.884956,16.814159,10,8.849558,39
3,가리봉동,4901,구로구,164083,0.195,31996.185,955.695,0.40,2389.237500,0,0,0.000000,0.000000,2,5.000000,40
4,가산동,14124,금천구,103432,0.179,18514.328,2528.196,2.52,1003.252381,0,0,0.000000,0.000000,14,5.555556,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,청구동,5764,중구,55093,0.191,10522.763,1100.924,0.34,3238.011765,0,0,0.000000,0.000000,2,4.545455,2
421,동화동,3771,중구,55093,0.191,10522.763,720.261,0.26,2770.234615,0,0,0.000000,0.000000,2,2.325581,60
422,항동,5988,구로구,164083,0.195,31996.185,1167.660,1.40,834.042857,0,0,0.000000,0.000000,2,3.174603,82
423,위례동,9041,송파구,255766,0.216,55245.456,1952.856,2.55,765.825882,0,0,0.000000,0.000000,2,1.904762,70
424,신사동,6407,강남구,208833,0.214,44690.262,1371.098,1.89,725.448677,0,0,0.000000,0.000000,9,5.357143,35

In [11]:
df_scaled_x["cluster"] = kmeans.labels_
df_scaled_x

     반려동물 가구밀도    보호소 밀도  폐사안락사 비율  동물병원약국 밀도  cluster
0    -0.378614  0.160694  0.129900   0.243147       36
1     0.711349  0.543612  0.292286   0.926818       30
2     0.126243  0.340471  0.518644   0.377930       39
3     0.509095 -0.806678 -0.644390  -0.432020       40
4    -0.934279 -0.806678 -0.644390  -0.315130       82
..         ...       ...       ...        ...      ...
420   1.393014 -0.806678 -0.644390  -0.527656        2
421   0.905868 -0.806678 -0.644390  -0.994719       60
422  -1.110495 -0.806678 -0.644390  -0.816084       82
423  -1.181536 -0.806678 -0.644390  -1.083260       70
424  -1.223585 -0.806678 -0.644390  -0.356877       35

[425 rows x 5 columns]

# Select clusters which are larger than zero

In [12]:
df_cluster_mean = df_scaled_x.groupby('cluster').mean()
pet_over = df_cluster_mean['반려동물 가구밀도']>0
shelter_over = df_cluster_mean['보호소 밀도']>0
death_over = df_cluster_mean['폐사안락사 비율']>0
hospital_over = df_cluster_mean['동물병원약국 밀도']>0
df_over = df_cluster_mean[pet_over & shelter_over &death_over & hospital_over]

In [13]:
df_over

         반려동물 가구밀도    보호소 밀도  폐사안락사 비율  동물병원약국 밀도
cluster
3         1.084430  1.428285  1.979296   0.116852
5         1.556915  1.071986  4.869154   1.342255
8         0.052130  0.859676  0.878762   1.330354
9         0.692082  2.707044  0.016905   0.445227
13        0.610970  1.428285  0.071161   2.341444
21        1.953354  1.550192  2.499697   3.775994
29        0.739392  0.937142  0.742630   2.984428
37        1.382042  1.026459  1.145724   1.758722
39        0.193214  0.599826  0.035672   0.066951
42        2.992321  1.593838  1.148904   0.046164
66        0.271376  0.587170  1.735650   3.400278
67        0.799615  1.726802  0.835035   0.682849
68        0.115039  1.186977  1.846467   0.708464
74        0.082947  1.893902  0.076130   1.087541
83        1.191195  0.320786  0.571496   0.550648
90        1.697072  0.813670  2.295331   0.233533

In [14]:
df_over.index

Int64Index([3, 5, 8, 9, 13, 21, 29, 37, 39, 42, 66, 67, 68, 74, 83, 90], dtype='int64', name='cluster')

In [15]:
new_target = []

for i,t in enumerate(df_train['target']):
    if t not in df_over.index:
        new_target.append(0)
    else:
        new_target.append(1)

df_train['target'] = new_target
df_train

,서울시 동,가구원수,서울시 구,구별 가구수,반려동물 비율,반려동물 가구수 구,반려동물 가구수 동,면적,반려동물 가구밀도,폐사안락사수,보호소 수,보호소 밀도,폐사안락사 비율,동물병원약국개수,동물병원약국 밀도,target
0,가락1동,9534,송파구,255766,0.216,55245.456,2059.344,1.34,1536.823881,15,1,0.746269,11.194030,11,8.208955,0
1,가락2동,11482,송파구,255766,0.216,55245.456,2480.112,0.96,2583.450000,13,1,1.041667,13.541667,11,11.458333,0
2,가락본동,10576,송파구,255766,0.216,55245.456,2284.416,1.13,2021.607080,19,1,0.884956,16.814159,10,8.849558,1
3,가리봉동,4901,구로구,164083,0.195,31996.185,955.695,0.40,2389.237500,0,0,0.000000,0.000000,2,5.000000,0
4,가산동,14124,금천구,103432,0.179,18514.328,2528.196,2.52,1003.252381,0,0,0.000000,0.000000,14,5.555556,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,청구동,5764,중구,55093,0.191,10522.763,1100.924,0.34,3238.011765,0,0,0.000000,0.000000,2,4.545455,0
421,동화동,3771,중구,55093,0.191,10522.763,720.261,0.26,2770.234615,0,0,0.000000,0.000000,2,2.325581,0
422,항동,5988,구로구,164083,0.195,31996.185,1167.660,1.40,834.042857,0,0,0.000000,0.000000,2,3.174603,0
423,위례동,9041,송파구,255766,0.216,55245.456,1952.856,2.55,765.825882,0,0,0.000000,0.000000,2,1.904762,0
424,신사동,6407,강남구,208833,0.214,44690.262,1371.098,1.89,725.448677,0,0,0.000000,0.000000,9,5.357143,0

In [16]:
df_train.columns

Index(['서울시 동', '가구원수', '서울시 구', '구별 가구수', '반려동물 비율', '반려동물 가구수 구',
       '반려동물 가구수 동', '면적', '반려동물 가구밀도', '폐사안락사수', '보호소 수', '보호소 밀도',
       '폐사안락사 비율', '동물병원약국개수', '동물병원약국 밀도', 'target'],
      dtype='object')

In [17]:
x = df_train[['가구원수', '면적', '반려동물 가구수 동', '반려동물 가구밀도', '폐사안락사수', '폐사안락사 비율',
       '보호소 수', '보호소 밀도', '동물병원약국개수', '동물병원약국 밀도','target']]
x

,가구원수,면적,반려동물 가구수 동,반려동물 가구밀도,폐사안락사수,폐사안락사 비율,보호소 수,보호소 밀도,동물병원약국개수,동물병원약국 밀도,target
0,9534,1.34,2059.344,1536.823881,15,11.194030,1,0.746269,11,8.208955,0
1,11482,0.96,2480.112,2583.450000,13,13.541667,1,1.041667,11,11.458333,0
2,10576,1.13,2284.416,2021.607080,19,16.814159,1,0.884956,10,8.849558,1
3,4901,0.40,955.695,2389.237500,0,0.000000,0,0.000000,2,5.000000,0
4,14124,2.52,2528.196,1003.252381,0,0.000000,0,0.000000,14,5.555556,0
...,...,...,...,...,...,...,...,...,...,...,...
420,5764,0.34,1100.924,3238.011765,0,0.000000,0,0.000000,2,4.545455,0
421,3771,0.26,720.261,2770.234615,0,0.000000,0,0.000000,2,2.325581,0
422,5988,1.40,1167.660,834.042857,0,0.000000,0,0.000000,2,3.174603,0
423,9041,2.55,1952.856,765.825882,0,0.000000,0,0.000000,2,1.904762,0
424,6407,1.89,1371.098,725.448677,0,0.000000,0,0.000000,9,5.357143,0

# VIF

Remove if value is greater than 10

In [20]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

 
def feature_engineering_XbyVIF(X_train):
    vif = pd.DataFrame()
    vif['VIF_Factor'] = [variance_inflation_factor(X_train.values, i)
                         for i in range(X_train.shape[1])]
    vif['Feature'] = X_train.columns
    return vif

xx = x.drop(['가구원수','반려동물 가구수 동','폐사안락사수','보호소 수','target'],axis=1)

vif = feature_engineering_XbyVIF(xx)
print(vif)

   VIF_Factor    Feature
0    1.572632         면적
1    3.202478  반려동물 가구밀도
2    2.417843   폐사안락사 비율
3    2.983575     보호소 밀도
4    4.761741   동물병원약국개수
5    4.368103  동물병원약국 밀도

In [21]:
xx['target'] = x['target']
xx

       면적    반려동물 가구밀도   폐사안락사 비율    보호소 밀도  동물병원약국개수  동물병원약국 밀도  target
0    1.34  1536.823881  11.194030  0.746269        11   8.208955       0
1    0.96  2583.450000  13.541667  1.041667        11  11.458333       0
2    1.13  2021.607080  16.814159  0.884956        10   8.849558       1
3    0.40  2389.237500   0.000000  0.000000         2   5.000000       0
4    2.52  1003.252381   0.000000  0.000000        14   5.555556       0
..    ...          ...        ...       ...       ...        ...     ...
420  0.34  3238.011765   0.000000  0.000000         2   4.545455       0
421  0.26  2770.234615   0.000000  0.000000         2   2.325581       0
422  1.40   834.042857   0.000000  0.000000         2   3.174603       0
423  2.55   765.825882   0.000000  0.000000         2   1.904762       0
424  1.89   725.448677   0.000000  0.000000         9   5.357143       0

[425 rows x 7 columns]

In [22]:
xx.rename(columns={'폐사안락사 비율':'폐사안락사 비율'})

       면적    반려동물 가구밀도   폐사안락사 비율    보호소 밀도  동물병원약국개수  동물병원약국 밀도  target
0    1.34  1536.823881  11.194030  0.746269        11   8.208955       0
1    0.96  2583.450000  13.541667  1.041667        11  11.458333       0
2    1.13  2021.607080  16.814159  0.884956        10   8.849558       1
3    0.40  2389.237500   0.000000  0.000000         2   5.000000       0
4    2.52  1003.252381   0.000000  0.000000        14   5.555556       0
..    ...          ...        ...       ...       ...        ...     ...
420  0.34  3238.011765   0.000000  0.000000         2   4.545455       0
421  0.26  2770.234615   0.000000  0.000000         2   2.325581       0
422  1.40   834.042857   0.000000  0.000000         2   3.174603       0
423  2.55   765.825882   0.000000  0.000000         2   1.904762       0
424  1.89   725.448677   0.000000  0.000000         9   5.357143       0

[425 rows x 7 columns]

In [23]:
xx.to_csv('train.csv')